.cities {
    display: flex;
    width: 1200px;
}

.city {
    margin: 0 10px;
    position: relative;
}

.img img {
    border-radius: 10px;
}

.content {
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: #fff;
}