.wrap h2 {
    margin: 15px 0 15px 10px;
}

.lists {
    width: 1200px;
    display: flex;
}

.list {
    width: 25%;
    margin: 10px;
}

.img img {
    border-radius: 10px;
}

.name {
    text-decoration: underline;
    color: #aa55c5;
    cursor: pointer;
    display: inline-block;
}

.m10 {
    margin: 10px 0;
}

.content span {
    padding: 2px;
    background-color: blue;
    color: #fff;
}